<div>
    <p>
        <span class="text-success">{{'Subtotal' | r | xlat}}</span>
        <span class="pull-right whiteText">{{order.Subtotal | culturecurrency}}</span>
    </p>
    <!--<p>
        <span class="text-success">{{'Shipping & Handling' | r | xlat}}</span>
        <span class="pull-right whiteText">{{order.ShippingCost | culturecurrency}}</span>
    </p>-->
    <p>
        <span class="text-success">{{'Tax' | r | xlat}}</span>
        <span class="pull-right whiteText">{{order.TaxCost | culturecurrency}}</span>
    </p>
    <p ng-if="order.Coupon">
        <span class="text-success">{{'Coupon' | r | xlat}} ({{order.Coupon.Label}})</span>
        <span class="pull-right whiteText">{{order.Coupon.OrderDiscount * -1 | culturecurrency}}</span>
    </p>
    <p><span class="text-success">{{'Total' | r | xlat}}</span>
        <span class="pull-right whiteText">{{order.Total | culturecurrency}}</span>
    </p>
</div>

